body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p,block {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb( 243, 243, 243);
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px; 
}

.clear {
    clear: both;
}

/*Page*/
.wrapper {
    width: 950px;
    margin:auto;
    padding-bottom: 20px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
}

.table1 {
    margin-left: 100px;
    padding-right: 30px;
    width: 800px;
    border-radius: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    vertical-align: central;
}
/*Homepage*/
.content {
    width: 100%;
    background-color: rgb(254, 254, 254);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
    min-height: 400px;
}

/*Menu*/
.menu {
    background-color: rgb(10, 110, 178);
    width: 100%;
    margin-top: 10px;
    padding: 0px;
    height: 40px;
    color: rgb( 243, 243, 243);
    border-radius: 5px 5px 5px 5px; 
}

.navigation_first_item {
    border-left: 0px;
    /*-moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 00 5px;
    */
    border-radius: 5px 0 0 5px;
}

.navitem_s {
    float: left;
    border-right: 1px solid rgb(10, 85, 123);
    border-left: 1px solid rgb(67, 153, 200);
    height: 40px;
    background-color: rgb( 14, 79, 114);
}

.menu ul {
    
}

.menu ul li {
    float: right;
    display: block;
    list-style: none;
    border-right: 1px solid rgb(10, 85, 125);
    border-left: 1px solid rgb(67, 153, 200);
    width: 77px;
}

.menu ul li.navigation_first_item:hover {
    border-radius: 5px 0px 0px 5px;
}

.menu ul li a {
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: rgb(14, 79, 114);
    border-right: 1px solid rgb(14, 79, 114);
}

.clear {
    clear: both;
}

/*Footer*/
.footer {
  width:100%;
  height: auto;
}

#copyright {
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
}


/*login*/
#login {
    
    padding: 50px;
    border: 1px solid black;
    margin-top: 50px;
    width: 300px;
    margin-bottom: 50px;
    box-shadow: 5px 10px #888888;
    margin-left: 270px;
}

/*registration form*/
#Registration  {
    
    padding: 50px;
    border: 1px solid black;
    margin-top: 50px;
    width: 300px;
    margin-bottom: 50px;
    box-shadow: 5px 10px #888888;
    margin-left: 270px;
}

/*contactus form*/
#contactus  {
    
    padding: 50px;
    border: 1px solid black;
    margin-top: 50px;
    width: 300px;
    margin-bottom: 50px;
    box-shadow: 5px 10px #888888;
    margin-left: 270px;
}

/*map*/
#map {
   width: 600px;
   height: 500px;
   background-color: grey;
   margin-left:180px;
   margin-bottom: 30px;

 }